NODE_ENV=

DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
COOKIE_EXPIRE=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
JWT_EXPIRE=
SECRET=
NPM_CONFIG_PRODUCTION=
SMPT_HOST=
SMPT_MAIL=
SMPT_PASSWORD=
SMPT_PORT=
SMPT_SERVICE=

PAYSTACK_PRIVATE_KEY = 

PAYSTACK_PRIVATE_TEST_KEY = 

NODE_ENV=

#Development db keys
DB_USERNAME_DEV=
DB_PASSWORD_DEV=
DB_NAME_DEV=
DB_HOST_DEV=
DB_PORT_DEV=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
COOKIE_EXPIRE=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
JWT_EXPIRE=
SECRET=
NPM_CONFIG_PRODUCTION=
SMPT_HOST=
SMPT_MAIL=
SMPT_PASSWORD=
SMPT_PORT=
SMPT_SERVICE=

#Production
DATABASE_URL=

#Production db keys
PRO_USERNAME=
PRO_PASSWORD=
PRO_DATABASE=
PRO_HOST=
PRO_PORT=
DATABASE_URL_DEV=
DB_PORT_DEV=

#Test db keys
DB_USERNAME_TEST=
DB_PASSWORD_TEST=
DATABASE_TEST=
DATABASE_URL_TEST=
DB_PORT_TEST=
# These are example variables to add to local .env with your own values

PROJ_NAME=
LOCAL_URL=
; DATABASE_URL=
; DB_HOST=
; PORT=
DATABASE_USERNAME=
; DB_PASSWORD=
TIMEOUT=
PRIVATE_KEY=
HEROKU_APP_NAME=NIL
HEROKU_APP_URL=NIL
# The email created for the project
ADMIN_EMAIL=
# The api key generated on sendGrid for sending out mails on app
SENDGRID_KEY


#Social Login
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK=

